.navbar-collapse {
    text-align: center;
}

.form-group > label > span {
    font-weight: bold;
}

.numberInput {
    width: 100px;
    border-radius: 5px;
}

.rounded {
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.roundedButtonCentered {
    width: 130px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 45%;
}

.roundedButton {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.roundedButton:hover {
    animation-name: breath;
    animation-duration: 0.1s;
}

@keyframes breath {
  0%   {transform:scaleX(100%)}
  25%  {transform:scaleX(95%)}
  50%  {transform:scaleX(90%)}
  75%  {transform:scaleX(95%)}
  100% {transform:scaleX(100%)}
}